<launch>
  <!-- size of map, change the size inflate x, y, z according to your application -->
  <!-- topic of your odometry such as VIO or LIO -->
  <arg name="odom_topic" value="/visual_slam/odom" />
  <param name="use_jps" type= "int" value = "1"/>
  <node pkg="global_planner" type="demo_node" name="demo_node" output="screen" required="true">
    <remap from="~waypoints" to="/waypoint_generator_global/waypoints" />
    <remap from="~map" to="/map_generator/global_cloud" />
    <remap from="~odom" to="$(arg odom_topic)"/>
    <param name="map/margin" value="0.0" />
    <param name="map/resolution" value="0.1" />
    <param name="map/x_size" value="40.0" />
    <param name="map/y_size" value="30.0" />
    <param name="map/z_size" value="2.5" />
  
  </node>
  <node pkg="waypoint_generator" name="waypoint_generator_global" type="waypoint_generator" output="screen">
    <remap from="~goal" to="/goal" />
    <param name="waypoint_type" value="manual-lonely-waypoint" />
  </node>
  <node pkg="global_planner" type="pub_local_goal" name="pub_local_goal" output="screen" required="true">
    <remap from="/odom" to="$(arg odom_topic)"/>
    <remap from="/global_cloud" to="/map_generator/global_cloud"/>
  </node>
  <include file="$(find ego_planner)/launch/ego_sim.launch"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/rviz/ego_with_astar.rviz" required="true" />
</launch>